{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}



<!------------------------------multiple menus------------------->
{% set menu3 = simplify_menu('menu') %} 
      {% for menu_item in menu3.menu_tree %}
          {# loop product dropdown and remove white spaces from string #}
          <span class="dropdown dropdown_submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ menu_item.text }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for resource_item in menu_item.submenu %}
                  <li value={{ resource_item.text|replace({' ': ''}) }}><a href="#">{{ resource_item.text }}</a>
                            <table>
                                {% for resource_sub_menu in resource_item.submenu %}
                                     <tr>
                                    <td value={{ resource_sub_menu.text|replace({' ': ''}) }}><a href={{ resource_sub_menu.url }}>{{ resource_sub_menu.text }}</a>
                                    </td>
                                    </tr>
                                {% endfor %}
                            </table>
                  </li>
                  {% endfor %}
                </ul>
           </span> 
        {% endfor %}
                 